<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 pb-2 mt-lg-2 mb-5">
    <h1 class="mt-3 ml-4 mt-md-4 pt-5" style="color: #128748;">TRANSFERENCIAS</h1>
</div>
<h3 class="ml-3 ml-5" style="color: #128748;">A DÓNDE TRANSFERIMOS?</h3>

<div class="row">
    <div class="main-box col-md-5 ml-5" style="cursor: pointer;" [routerLink]="['/panel/transferencias/crear']">
        <div class="card-body">
            <h4 class="white-letters">PUEDE SER A UNA CUENTA PROPIA O DE TERCEROS</h4>
        </div>
    </div>
</div>
<div class="row mt-5 justify-content-end">
    <div class="col-auto">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tabla-movimientos"
            aria-expanded="false" aria-controls="tabla-movimientos" style="background-color: #149953; color:white">
            MOSTRAR MIS ÚLTIMAS TRANSFERENCIAS
        </button>
    </div>
</div>
<div class="collapse" id="tabla-movimientos">
    <div class="card mt-3">
        <div class="card-body">
            <div class="col-md-12">
                <table class="table table-sm">
                    <thead class="" style="background-color: #1b844c; color:white">
                        <tr>

                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Comentario</th>
                            <th>Monto</th>

                        </tr>
                    </thead>
                    <ng-container *ngIf="movimientos.length == 0">
                        <tbody>
                            <tr>
                                <td class="text-center" colspan="5">
                                    <span class="text-muted">No hay movimientos disponibles</span>
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>
                    <ng-container *ngIf="movimientos.length > 0">
                        <tbody *ngFor="let item of movimientos; let indice = index">
                            <tr>
                                <td>{{item.createdAt | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.descripcion | slice:0:50}}</td>
                                <td>{{item.comentario | slice:0:50}}</td>
                                <td>
                                    <span style="color:green" *ngIf="item.isIngreso">
                                        $ {{item.monto}}
                                    </span>
                                    <span style="color:red" *ngIf="!item.isIngreso">
                                        $ {{item.monto}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</div>